<html>
<head>
</head>
<body>

<h1>Welcome {{username}}</h1> 

<!-- <form action="/post" method="POST">
	<input type="text" name = "blog" placeholder="post" required/> </br>
	<input type="submit" value = Post />
</form> -->

<!-- <form action="/show_tagged" method="POST">
	<a>Search by for photos with tags</a> 
	<br>
	<input type="text" name = "pID" placeholder="enter photo ID" required/> </br>
	<input type="submit" value = Search />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form> -->

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

Here are all the posts that are visible to you:

<table>
	<th>Posted By</th>
	<th>Posted On</th>
	<th>Post ID</th>

{% for line in posts %}
	<tr>
		<td>{{line.firstName + " " + line.lastName}}</td>
		<td>{{line.postingDate}}</td>
		<td>{{line.pID}}</td>
	</tr>
{% endfor %}
{% for line in posts2 %}
	<tr>
		<td>{{line.firstName + " " + line.lastName}}</td>
		<td>{{line.postingDate}}</td>
		<td>{{line.pID}}</td>
	</tr>
{% endfor %}
{% for line in posts3 %}
	<tr>
		<td>{{line.firstName + " " + line.lastName}}</td>
		<td>{{line.postingDate}}</td>
		<td>{{line.pID}}</td>
	</tr>
{% endfor %}
</table>

<br>
<a href="/post">Make a photo post</a>
<br>
<br>
<a href="/tagged">View tags on all visible posts</a>
<br>
<br>
<a href="/reactedTo">View reactions on all visible posts</a>
<br>
<br>
<a href="/search_by_tag">Search through all visible posts by the tagged user</a>
<br>
<br>
<a href="/search_by_poster">Search through all visible posts by their posters</a>
<br>
<br>
<a href="/logout">Logout</a>

</body>


</html>
