<html>
<head>
</head>
<body>

<h1>Welcome {{username}}</h1> 
<!-- <form action="/post" method="POST">
	<input type="text" name = "blog" placeholder="post" required/> </br>
	<input type="submit" value = Post />
</form> -->

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

Here are the photos and the people that reacted to all visible posts:

<table>
	<th>Photo ID</th>
	<th>Person that reacted</th>
	<th>Comments</th>
	<th>Emoji reaction</th>

{% for line in posts %}
	<tr>
		<td>{{line.pID}}</td>
		<td>{{line.username}}</td>
		<td>{{line.comment}}</td>
		<td>{{line.emoji}}</td>
	</tr>
{% endfor %}
</table>

<br>
<a href="/home"><- back</a>
<br>
<br>
<a href="/logout">Logout</a>

</body>


</html>
